[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "*"
botocore = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
black = "*"

[packages]
path = "*"
python-terraform = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
